<html>
<head>
    <title>
        Sistema de control de Ingreso
    </title>
</head>
<body>
    <h1>Sistema de control de Ingreso</h1>
    <hr>
    <h3>Opciones</h3>
    <ul>
        <li><a href=/mantenimientos>Mantenimientos</a></li><br>
        <li><a href=/procesos>Procesos</a></li><br>
        <li><a href=/reportes>Reportes</a></li><br>
    </ul>
</body>
</html>