<html>
<head>
    <title>
        Sistema de control de Ingreso
    </title>
</head>
<body>
    <h1>Nueva Pregunta</h1>
    <hr>
    <form method=post action=/m_preguntas_grabar_nuevo>
        <table border=0>
            <tr>
                <td>Curso: </td><td><input type="text" name="xcur" id="xcur" size="40"></td>
            </tr>
            <tr>
                <td>Pregunta: </td><td><input type="text" name="xpre" id="xpre" size="100"></td>
            </tr>
            <tr>
                <td>Respuesta correcta: </td><td><input type="text" name="xres" id="xres" size="100"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Grabar"></td>
            </tr>
        </table>
    </form>
</body>
</html>
