<html>
<head>
    <title>
        Sistema de control de Ingreso
    </title>
</head>
<body>
    <h1>Mantenimientos</h1>
    <hr>
    <h3>Opciones</h3>
    <ul>
        <li><a href=/m_docentes_listado>Docentes</a></li><br>
        <li><a href=/m_estudiantes_listado>Estudiantes</a></li><br>
        <li><a href=/m_preguntas_listado>Preguntas</a></li><br></br>
    </ul>
</body>
</html>